.holder {
            background-color: rgb(43, 49, 72);          
            height: auto;
            padding-left: 30px;
            margin: auto;
            height:1400px;
        }

        .c1 {
            width: 100%;
            height: 300px;
            display: flex;
            margin-bottom: 150px;
        }

        .ld {
            width: 25%;
        }
        /* Style the navbar */
        #navbar {
            overflow: hidden;
            background-color: black;
        }

        /* The sticky class is added to the navbar with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

            /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
            .sticky + .content {
                padding-top: 60px;
            }

        .h1 {
            color: white;
            font-size:30px;
            font-family:roboto,sans-serif;
            padding-left:10px;
        }
        .hb{
            height: 45px;
            width: 100px;
            margin-left:700px;
            background-color: #f84464;
            border: none;
            border-radius: 7px;
            color: whitesmoke;
            font-size: 18px;
            transition: 0.3s;
        }
        .hb:hover{
            opacity:0.8;
        }
          .lb {
            text-decoration: none;
            margin-left:20px;
            color:black;
            font-family:sans-serif,'ROG Fonts';
            font-size:19px;
        }
            .lb:hover {
                font-size: 18px;
                color: darkgray;
            }

       

       
